html {
color: white;
}


#section {
 width: 310px;
 height: 460px;
 margin: 10px auto;  /*centers the calculator in the browser window*/
 padding:5px;
 background-color:white;
 border: 3px solid black;
 border-radius: 10px;
 }

 #button {


 }

 p {
text-indent: 50px;
text-align:justify;
letter-spacing:3px;

 }