html {
}
#button {
  display: block;
  margin: auto;
  position: absolute;
  text-shadow: 0 0 15px #fff;    
  top: 50%;
 }

#main {
  margin: auto;
  text-align: center;
  width: 100%;
}

h1 {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 3em;
  margin-bottom: 50px;
  margin-top: 50px;
  text-shadow:0 0 15px #fff ;
}

#quote {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 2.5em;
  height: auto;
  margin: auto;
  padding: 1em;
  text-shadow: 0 0 15px #fff;
  vertical-align: middle;
  width: auto;
}
